.wp-block-mfblocks-h-entry {
	border-top: 1px dotted;
	border-bottom: 1px dotted;
    padding: .5em;
}

.mfblocks-group-hint {
	display: block;
	font-size: .8rem;
	color: #454545;
	margin-left: -2rem;
}
